* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	background-color: oldlace;
	width: 60%;
	min-width: 70vw;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
}

.app {
	width: 500px;
	min-height: 70vh;
	border: 1px solid #999;
	border-radius: 10px;
	margin: 0 auto;
}

.input-form {
	padding: 20px;
}
.input-form > label {
	display: block;
	color: red;
	padding-bottom: 20px;
}

#todo-item {
	padding: 10px;
	width: 80%;
	outline: none;
	border: 1px solid #999;
	border-radius: 20px;
}

.add-button {
	display: block;
	padding: 5px;
	width: 40%;
	outline: none;
	border: 1px solid #999;
	border-radius: 20px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	justify-self: center;
	cursor: pointer;
}

.renderedList {
	list-style: none;
	text-align: left;
	display: block;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 40px;
}

.renderedList > li {
	border-bottom: 0.5px dashed #999;
	padding: 5px 0;
}

.doneBtn,
.removeBtn {
	padding: 1px;
	width: 25px;
	height: 25px;
	outline: none;
}

.doneBtn {
	margin-right: 10px;
}

.removeBtn {
	float: right;
	font-size: medium;
	opacity: 0;
}

.renderedList li:hover .removeBtn {
	opacity: 1;
	transition: ease 0.25s all;
}

.completed {
	text-decoration: line-through;
	font-style: italic;
	color: #999;
	opacity: 0.5;
}
